
.about-banner{

  .main-general__subtitle {
    position: relative;
    &::before {
      content: ''!important;
     
    }
  }
}

.about-us {
  .padding-top-bottom {
    @include respond-to(xs) {
      padding-bottom: 0;
    }
  }
  .main-general__description, .main-general__title--small {
    padding-left: 6rem;

    @include respond-to(xs) {
      padding-left: 0;
      margin-bottom: 2rem;
    }

    @include respond-to(sm) {
      padding-left: 0;
    }
  }

  .about-us__img {
    width: 381px;
    height: 394px;

    @include respond-to(xs) {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.about-purpose {
  .main-general__description {
    padding-right: 6rem;
    @include respond-to(xs) {
      padding-right: 0;
    }
    @include respond-to(sm) {
      padding-right: 0;
    }
  }

  .main-order {
    @include respond-to(xs) {
      order: -1;
      margin-bottom: 2rem;
    }
  }

  .about-purpose__img {
    width: 405px;
    height: 417px;

    @include respond-to(xs) {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    @include respond-to(sm) {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}