.contact-form {
  & label, & .main-general__title--small, & .main-form__container-button {
    width: 100%!important;
  }
  .main-general__title--small{
    font-size: 1.3rem!important;
  }

  .contact-info {
    padding-left: 7rem;
    margin-top: 3rem;

    @include respond-to(xs) {
      padding-left: 15px;
    }


    @include respond-to(sm) {
      padding-left: 15px;
    }
  }
}

.contact-map {
  .contact-map__img {
    @include respond-to(xs) {
      width: 100%;
    }
  }

  .contact-map__img {
    @include respond-to(sm) {
      width: 100%;
    }
  }
}