@import "variables";
@import "mixins";
@import "body";
@import "buttons";
@import "offcanvas";
@import "setting-slick";

html {
  font-size: 14px;
  scroll-behavior: smooth;

  @include respond-to(xs) {
    font-size: 12px;
  }
  @include respond-to(sm) {
    font-size: 13px;
  }
}

*, *:hover, *:focus {
  outline: none!important;
  text-decoration: none!important;
}


.main-brand__fixed {
  display: none;

  @include respond-to (sm) {
    display: none!important;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #3e3e3e;
  & :focus {
    outline: none;
  }
}

.padding-top-bottom {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.main-general__button {
  padding: .5rem 3rem;
  border: none;
  box-shadow: 0 0 2px #ddd;
  margin-bottom: .5rem;
  color: $white;
  background: $blue;
  font-weight: 600;
  margin-top: 1rem;
}

.main-prenavbar {
  background: $blue;
  padding: .8rem;
  font-size: .9rem;

  & a, & p {
    color: $white;
    font-weight: 600;
  }

  & p {
    margin-bottom: 0;
  }

  & img {
    width: 18px;
    height: 18px;
    object-fit: contain;
  }

  .main-prenavbar__button {

    border-radius: 9px;
    background-color: $white;
    color: $blue;
    padding: .3rem .5rem;
  }

  .main-prenavbar__rrss {  
    list-style: none;
    margin-bottom: 0;

    & p {
      margin: 0 .5rem;
    }

    & li {
      margin: 0 1rem;
    }

    & .dropdown  {
      & a {
        margin: 0;
        padding: 0;
        border: none;
        display: flex;
      }

      & .dropdown-toggle::after {
        content: url('../img/arrow.png');
        border: none;
        margin-left: .5rem;

      } 
    }
  }
}

.brand-responsive{
  display: none;

  @include respond-to(xs) {
    display: initial;
  }
}


button:focus {
  outline: 5px auto transparent;
}

.img-round {
  border-radius: 5px;
}

.main-general__title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;  
  text-transform: uppercase;
  color: $black;
  margin-bottom: 1rem;

  &.main-general__title--initial  {
    text-align: initial;
    margin-top: 3rem;

    @include respond-to(xs) {
      text-align: center;
    }

    @include respond-to(sm) {
      text-align: center;
    }
  }
}

.main-general__subtitle {
  text-align: center;
  position: relative;
  font-size: 1rem;
  margin-bottom: 3rem;
  font-weight: bold;
  letter-spacing: 7px;
  color: $gray2;
  text-transform: uppercase;

  &:before {
    content: '';
    position: absolute;
    background-color: $blue;
    width: 3.5rem;
    height: 4px;
    bottom: -1.5rem;    
    left: 50%;
    transform: translateX(-50%);
  }
}

.navbar {
  background-color: transparent;
  transition: .3s ease-in-out;
  padding: 0;
  display: flex;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background: $white;
  flex-direction: column;

  @include respond-to(sm) {
    background-color: $white;
  }

  @include respond-to(xs) {
    background-color: $white;
  }

  &.fixed {
    background-color: $white;
    box-shadow:rgba(191,191,191,0.72) 2px 1px 8px;
    transition: .3s ease-in-out;
  }
}

.contact {
  background: #174183;
  color: #fff!important;
 }


.nav-item {
  // display: flex;
  // align-items: center;
  @include respond-to(xs) {
    padding: 0 15px;
  }

  & a {
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.main-brand {
  @include respond-to(sm) {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  @include respond-to(xs) {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.nav-link {
  color: $gray ;
  text-transform: uppercase;
  transition: .3s ease-in-out;
  font-weight: 600;
  font-size: 1rem;
  padding-right: 1.2rem!important;
    padding-left: 1.2rem!important;

  @include respond-to(xs) {
    color: $lightBlack;
  }

  @include respond-to(sm) {
    color: $lightBlack;
  }


  &.fixed-color {
    color: $black;
    transition: .3s ease-in-out;
  }

  &:hover {
    color: $black;
  }
}

.navbar-brand {
  display: flex;
  align-items: center;
  margin-right: 0; 

  img {
    width: 191px;
    height: 56px;
    object-fit: contain;
  
  }

  @include respond-to(xs) {
    width: initial;
  }

  @include respond-to(sm) {
    width: initial;
  }
}

.main-brand__top {
  @include respond-to(xs) {
    display: none!important;
  }

  @include respond-to(sm) {
    display: none!important;
  }

}

.navbar-nav {
  width: 100%;
  justify-content: flex-end;
}

.navbar-collapse {
  justify-content: flex-end;
}

.nav-top__header {
  width: 100%;
  background-color: $lightBlack;
  padding: 10px;
  transition: .3s ease-in-out;

  &.nav-top__header--detele {
    display: none !important;
    transition: .3s ease-in-out;
  }

  @include respond-to(sm) {
    display: none;
  }

  @include respond-to(xs) {
    display: none;
  }
}

.nav-top__content {
  padding: 0 100px;
}

.main-nav__contact {
  a {
    color: $lightWhite;
    text-decoration: none;
  }
}

.main-nav__redes {
  a {
    color: $lightWhite;
    margin-right: 5px;
    transition: 0.3s ease-in-out;

    &:hover {
      transition: 0.3s ease-in-out;
      color: $orange;
    }
  }
}

.main-banner {
  overflow: hidden;
  margin-top: 7rem;

  .main-banner__item {
    position: relative;
  }


    .main-banner__text {
      position: absolute;
      width: 100%;
      display: flex;
      height: 100%;
      align-items: flex-end;      
      flex-direction: column;
      justify-content: center;
      padding-right: 9rem;
     
      @include respond-to(xs) {
        width: 100%;
      }

      .main-banner__logo {
        width: 30%;
        display: flex;
        justify-content: center;
      }

      .main-banner__title {
        width: 30%;
        p {
          padding: 0 25px;
          text-align: center;
          text-transform: uppercase;
          color: $black;
          font-size: 3rem;
          font-weight: bold;
          margin: 1rem 0;
          line-height: 1;
          @include respond-to(md) {
            font-size: 55px;
          }

          @include respond-to(xs) {
            font-size: 30px;
            padding: 0;
          }
        }
      }

      .main-banner__subtitle  {
        width: 30%;

        p {
          font-size: 1.3rem;
          text-align: center;
          font-weight: 500;
          font-family: $roboto;
          text-transform: uppercase;
          color: $gray2;
        }
      }

      .main-banner__description {
        padding: 0 25px;
        color: $white;
        font-size: 20px;
        line-height: 2rem;
        margin: 50px 0 0 0;

        @include respond-to(md) {
          font-size: 18px;
        }

        @include respond-to(xs) {
          font-size: 18px;
          padding: 0;
        }
      }
    }
  

  .main-banner__img {
    width: 100%;
    height: 100vh;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.main-cal {
  & .col-lg-3 {
    &:nth-child(1) {
      background: #20376f;
    }

    &:nth-child(2) {
      background: #26998a;
    }

    &:nth-child(3) {
      background: $blue;
    }

    &:nth-child(4) {
      background: #7f7f7f;
    }
  }
  .main-cal__item {
    text-align: center;
    color: $white;
    padding: 3rem .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  
    & .main-cal__title {
      font-size: 3rem;
    }

    & .main-cal__subtitle {
      position: relative;

      &:before {
        content: '';
        position: absolute;
        background-color: $white;
        width: 3.5rem;
        height: 4px;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

.main-alliance {
  .main-alliance__description {
    display: flex;
    justify-content: center;
    & p {
      color: $gray2;
      text-align: center;
      width: 80%;
      margin-bottom: 2rem;
    }
  }



  .main-alliance__container {
    display: flex;
    justify-content: center;
  }


  .main-alliance__item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin: 0 1.5rem;

      & .main-alliance__img {
        display: flex;
        align-items: center;
        height: 11rem;
        margin-bottom: 2rem;
      }

      & .main-alliance__button {
        border-radius: 20px;
        border: solid 2px #d8d8d8;
        text-transform: uppercase;
        color: $gray2;
        font-size: .8rem;
        padding: .3rem .5rem;
        letter-spacing: 4.2px;
        margin-left: 1rem;
      }

    }


    .main-alliance__item:nth-child(1) .main-alliance__img img{
      width: 131px;
      height: 132px;
      object-fit: contain;

    }

    .main-alliance__item:nth-child(2) .main-alliance__img img {
      width: 293px;
      height: 72px;
      object-fit: contain;
    }

}

.main-solutions {
  background: $graylight;
  display: flex;
  justify-content: center;

  & .main-general__subtitle {
    margin-bottom: 4rem;
  }

  & .main-solutions__item {
    text-align: center;
    color: $white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem .5rem;

    & .main-solutions__text {
      & p {
        margin-top: 1rem;
        margin-bottom: 0;
      }
    }
  }

  & .main-solutions__colum:nth-child(odd) {
    background: $graycard;
  }

  & .main-solutions__colum:nth-child(2) {
    background: #26998a;
  }

  & .main-solutions__colum:nth-child(4), .main-solutions__colum:nth-child(6) {
    background: $blue;
  }

  & .main-solutions__colum:nth-child(8) {
    background: #20376f;
  }

  & .main-solutions__width {
    width: 57%;
  }
}

.main-contact {
  background: $graylight;
  & form {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;

    & input {
      width: 100%;
      padding: .5rem 1rem;
      // border: 1px solid #c5c5c5;
      border: none;
      box-shadow: 0 0 2px #ddd;
      margin-bottom: .5rem;
    }

    & textarea {
      width: 100%;
      padding: .5rem 1rem;
      height: 5rem;
      resize: none;
      box-shadow: 0 0 2px #ddd;
      border: none;
    }

    @include respond-to(xs) {
      width: 100%;
    }

    @include respond-to(sm) {
      width: 100%;
    }
  }

  .main-footer__container {
    display: flex;
    justify-content: center;
  }
}

.main-powered {
  text-align: center;
  padding: 1rem 0;
  background: #3e3e3e;
  color: $white;
  & a {
    color: $white;
    font-weight: 600;
  }

  & p {
    margin-bottom: 0;
  }
}  

.main-details {
  background: $graylight;

  & .padding-top-bottom {
    padding-bottom: 0; 
  }

  .main-details__img img {
    width: 100%;
    margin-left: -1.5rem;
    margin-top: 3rem;
  }

  .main-details__description {
    width: 80%;
    margin-right: .5rem; 
    margin-left: .5rem; 
  }

  .main-details__title {
    font-size: 1.5rem;
  }
  .main-details__item {
    display: flex;
    width: 100%;
    margin-bottom: 2rem;
    min-height: 11rem;;

    & img {
      width: 6rem;
      height: 6rem;
      object-fit: cover;
      border-radius: 50%;
      background: $blue;
      border: 5px double $white;
    }
  }
}

.main-comparison {

  & .padding-top-bottom {
    @include respond-to(xs) {
      padding-top:0;
    }
  }
  & img {
    width: 90%;
    object-fit: contain;

    @include respond-to(xs) {
      width: 100%;
    }
  }
  .main-comparison__img--blue {
    color: #8fdbea;
    filter: drop-shadow(-3px 1px 7px );
  }

  & h2 {
    margin-bottom: 1rem;
  }

  .main-comparison__img--yellow {
    color: #e2c83c;
    filter: drop-shadow(-3px 1px 7px )
  }

  .main-comparison__icon {
    width: 4rem;
    padding: 1rem;
    background: whitesmoke;
    border-radius: 50%;
  }

  .main-comparison__list {
    list-style: none;
    padding: 0;
    margin-right: 1rem; 

    & li {
      margin-bottom: .5rem;
    }
  }

  .main-comparison__box-icon {
    display: flex;

    @include respond-to(xs) {
      display: initial;
    }

    @include respond-to(sm) {
      justify-content: center;
    }
  }

  .main-comparison__flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .main-comparison__margin {
    margin-top: 3rem;
  }
}

.card {
  border: 0;
}

.card-header {
  background-color: #fff;
  margin-bottom: 0 !important;
  box-shadow: 0 5px 14px rgba(0, 0, 0, 0.1);
}

.faq-btn {
  color: $blue;
  font-family: 'Poppins', sans-serif;

  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.faq-btn:hover, .faq-btn:focus {
  text-decoration: none;
  color: $blue;
}

.faq-btn[aria-expanded="true"] i {
  transform: rotate(-90deg);
}

.main-video {
  .main-video__bg {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  
    & video {
      width: 100%;
    }
  

  }


  .main-general__title  {
    margin-top: 0;
    margin-bottom: 2.5rem;
  }

  & ul {
    list-style: none;
    padding: 0;

    & li {
      margin-right: 1rem;

      & h2 {
        font-size: 1.5rem;
      }

      & p {
        margin-bottom: 2rem;
      }
    }
  }
}
