!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'UTF-8' }/
    %meta{ content: 'width=device-width, initial-scale=1.0', name:'viewport' }/
    %title Natalia Godoy - Consultores Organizacionales
    %link{:crossorigin => "anonymous", :href => "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", :integrity => "sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", :rel => "stylesheet"}/
    %link{ rel: 'stylesheet', href:'assets/css/font-awesome.css' }/
    %link{ rel: 'stylesheet', href:'assets/css/font-awesome.css' }/
    %link{ rel: 'stylesheet', href:'assets/css/slick-theme.css' }/
    %link{ rel: 'stylesheet', href:'assets/css/slick.css' }/
    %link{ rel: 'stylesheet', href:'assets/css/main.css' }/
    %link{ rel: 'stylesheet', href:'https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css' }/
    %link{:href => "assets/img/favicon.png", :rel => "shortcut icon"}/

    %link{ href:'https://fonts.googleapis.com/css?family=Montserrat:400,700,900|Open+Sans:300,400,600,700,800|Roboto:300,400,500,700,900&display=swap',  rel:'stylesheet' }/
  %body
    %header.fixed-top.navbar-fixed-js
      .main-prenavbar
        .container
          .row
            .col-lg-6.d-flex.align-items-center
              .main-prenavbar__rrss.d-flex.align-items-center.main-rrss_phone
                %img{:src=> 'assets/img/phone-receiver.png'}
                %a{:href=>""} (+57) 619 26 16 
                %p -
                %a{:href=>""} (+57) 215 45 23 

            .col-lg-6
              %ul.main-prenavbar__rrss.d-flex.align-items-center
                %li
                  %a{:href=>""}
                    %img{:src=> 'assets/img/social-linkedin-circular-button_4.png'}
                %li
                  %a{:href=>""}
                    %img{:src=> 'assets/img/facebook-logo-in-circular-button-outlined-social-symbol_2.png'}
                %li
                  %a{:href=>""}
                    %img{:src=> 'assets/img/social-linkedin-circular-button_5.png'}
                %li
                  %a{:href=>""}
                    %img{:src=> 'assets/img/social-linkedin-circular-button_6.png'}
                %li
                  .dropdown
                    %a#dropdownMenuLink.btn.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                      Español
                    .dropdown-menu{"aria-labelledby" => "dropdownMenuLink"}
                      %a.dropdown-item{:href => "#", :style=>'color: #000' } Inglés
                %li
                  %a{:href=>""}
                    %img{:src=> 'assets/img/shape.png'}                  
                %li
                  %a.main-prenavbar__button{:href=>"contact.html"} CONTÁCTANOS
      %nav.navbar.navbar-expand-lg
        .container
          .main-brand__top
            .main-brand
              %a.navbar-brand{ :href => 'index.html' }
                %img#iso{ :src => 'assets/img/logo-natalia-godoy-consultores-organizacionales-fuente-ajustada.png' }/ 
          .main-brand__fixed
            .main-brand
              %a.navbar-brand{ :href => 'index.html' }
                %img#iso{ :src => 'assets/img/logo-natalia-godoy-consultores-organizacionales-fuente-ajustada.png' }/ 
          .main-brand.brand-responsive
            %a.navbar-brand{ :href => 'index.html' }
              %img#iso{ :src => 'assets/img/logo-natalia-godoy-consultores-organizacionales-fuente-ajustada.png' }/ 
            %button.navbar-toggler.p-2.border-0.hamburger.hamburger--elastic.ml-autos{ 'data-toggle' => 'offcanvas', :type => 'button' }
              %span.hamburger-box
              %span.hamburger-inner
          .navbar-collapse.offcanvas-collapse
            %ul.navbar-nav.mr-autos
              %li.dropdown.nav-item
                %a.nav-link{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                  Soluciones
                %ul.dropdown-menu
                  %li
                    %a{:href => "attraction-and-talent-selection.html"} Atracción y selección de talento
                  %li
                    %a{:href => "youth-program.html"} Programa para jóvenes
                  %li
                    %a{:href => "career-development.html"} Desarrollo de carrera
                  %li
                    %a{:href => "evaluation-and-career.html"} Evaluación y carrera
                  %li
                    %a{:href => ""} Consultoria inhouse
                  %li
                    %a{:href => "employer-brand.html"} Marca empleadora
              %li.dropdown.nav-item
                %a.nav-link{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                  Desafíos
                %ul.dropdown-menu
                  %li
                    %a{:href => "challenge.html"} Diversidad e inclusión
                  %li
                    %a{:href => "challenge.html"} Futuro del trabajo
                  %li
                    %a{:href => "challenge.html"} Futuro de la educación
                  %li
                    %a{:href => "challenge.html"} Construcción de marca empleadora
                  %li
                    %a{:href => "challenge.html"} Carrera de los sueños de los jovenes
              %li.dropdown.nav-item
                %a.nav-link{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                  Oportunidades laborales
                %ul.dropdown-menu
                  %li
                    %a{:href => "index.html"} Media y alta gerencia
                  %li
                    %a{:href => "index.html"} Profesionales
              %li.dropdown.nav-item
                %a.nav-link{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                  Tendencias
                %ul.dropdown-menu
                  %li
                    %a{:href => "blog.html"} Consejos de carrera
                  %li
                    %a{:href => "blog-2.html"} gestión humana como aliado estratégico del negocio 
              %li.nav-item
                %a.nav-link{:href => 'about.html',:data-toggle => 'offcanvas' } Conócenos
    %section.main-banner2{:style=>'background-image: url("assets/img/imgg.png")'}
      .container.padding-top-bottom
        .main-banner2__text
          %h2.main-general__title.wow.animated.fadeInUp{:style=>"visibility: visible;"}
            evaluación y carrera
          %p.main-general__subtitle
            Lorem ipsum

    %section.main-identification
      .container.padding-top-bottom
        .row
          .col-lg-6.d-flex.justify-content-center.col-md-6
            %img.main-identification__img{:src=> 'assets/img/img_27.png'}
          .col-lg-6.d-flex.flex-column.justify-content-center.main-order.col-md-6 
            %h2.main-general__title--small
              identificación de potencial y ranking de talentos
            %p.main-general__description
              Aliados en Colombia desde hace 4 años con Cia de Talentos, consultora de origen brasileño, especializada en la atracción, selección y desarrollo de personas, desde el inicio de sus carreras (practicantes, trainees, jóvenes profesionales, MBAs) hasta las posiciones de más alto nivel.

    %section.main-plans
      .container.padding-top-bottom
        .row
          .col-lg-6.d-flex.flex-column.justify-content-center.main-order.col-md-6 
            %h2.main-general__title--small
              planes de sucesión y semilleros de talento clave
            %p.main-general__description
              Aliados en Colombia desde hace 4 años con Cia de Talentos, consultora de origen brasileño, especializada en la atracción, selección y desarrollo de personas, desde el inicio de sus carreras (practicantes, trainees, jóvenes profesionales, MBAs) hasta las posiciones de más alto nivel.
          .col-lg-6.d-flex.justify-content-center.col-md-6
            %img.main-plans__img{:src=> 'assets/img/group-5.png'}

    %section.main-form
      .container.padding-top-bottom
        %form 
          %h2.main-general__title--small
            Envíanos un mensaje
          %label.d-flex.flex-column 
            Nombre
            %input{:type=>'text'}
          %label.d-flex.flex-column 
            Email
            %input{:type=>'email'}
          %label.d-flex.flex-column 
            Asunto
            %input{:type=>'text'}
          %label.d-flex.flex-column 
            Mensaje
            %textarea{:type=>'text'}
          .main-form__container-button
            %button.main-form__button{:type=> 'submit'} Enviar
    %section.main-contact
      .container.padding-top-bottom
        %h2.main-general__title.fadeInUp.animated
          Contáctanos
        .main-contact__text 
          %p
            Lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque cursus lobortis interdum, tincidunt proin dui lacinia eros dignissim sollicitudin cras nisi. 
        .main-general__button 
          %a{:href=>"contact.html"} Ver Más
    %footer.main-footer#contact
      .main-footer__rrss
        .container
          .row  
            .col-lg-3.main-footer__card
              .main-footer__responsive
                %a{:href=>""}
                  %img{:src=> "assets/img/social-linkedin-circular-button_3@2x.png"}
                %a{:href=>""}
                  %img.facebook-logo-in-circular-button-outlined-social-symbol{:src => "assets/img/facebook-logo-in-circular-button-outlined-social-symbol@2x.png"}
                %a{:href=>""}
                  %img{:src=> "assets/img/social-linkedin-circular-button@2x.png"}
                %a{:href=>""}
                  %img{:src=> "assets/img/social-linkedin-circular-button_2@2x.png"}
              .main-footer__content
                %a{:href=>""}
                  %img{:src=> "assets/img/social-linkedin-circular-button_3.png"}
                  Linkedin 
            .col-lg-3.main-footer__card
              .main-footer__content
                %a{:href=>""}
                  %img.facebook-logo-in-circular-button-outlined-social-symbol{:src => "assets/img/facebook-logo-in-circular-button-outlined-social-symbol.png", :srcset => "assets/img/facebook-logo-in-circular-button-outlined-social-symbol@2x.png 2x,\n             assets/img/facebook-logo-in-circular-button-outlined-social-symbol@3x.png 3x"}/
                  Facebook 
            .col-lg-3.main-footer__card
              .main-footer__content
                %a{:href=>""}
                  %img{:src=> "assets/img/social-linkedin-circular-button.png"}
                  Instagram 
            .col-lg-3.main-footer__card
              .main-footer__content
                %a{:href=>""}
                  %img{:src=> "assets/img/social-linkedin-circular-button_2.png"}
                  Youtube 
      .main-footer__info
        .main-footer__service.d-flex.justify-content-center
          %img{:src=>"assets/img/group-12.png"}/
        .container.padding-top-bottom
          .row
            .col-lg-4
              .main-footer__logo
                %img{:src=>'assets/img/logo.png'}
              %ul.main-footer__list
                %li.d-flex.align-items-center
                  %img{:src=>"assets/img/facebook-places.png" }/
                  %p 
                    Calle 123 N° 7 - 07 Oficina 304 y 207
                %li.d-flex.align-items-center
                  %img{:src=>"assets/img/phone-receiver_2.png" }/
                  %p
                    (+57) 619 46 16 - (+57) 215 45 23 - (+57) 637 50 17
                %li
                  %img{:src=>"assets/img/envelope.png" }/
                  %a{:href=>'mailto:contacto@consultoresorg.com'} contacto@consultoresorg.com
            .col-lg-4
              .main-footer__logo
                %h2.main-footer__title
                  Mapa del sitio
              %ul.main-footer__link
                %li 
                  %a{:href=>''}
                    Soluciones
                %li 
                  %a{:href=>''}
                    Desafíos
                %li 
                  %a{:href=>''}
                    Oportunidades laborales
                %li 
                  %a{:href=>''}
                    Tendencias
                %li 
                  %a{:href=>'about.html'}
                    Conócenos
                %li 
                  %a{:href=>'contact.html'}
                    Contáctanos

            .col-lg-4
              .main-footer__logo
                %h2.main-footer__title
                  Instagram
              .main-footer__instagram
                %img{:src=>'assets/img/group-2.png'}
      .main-powered 
        %p
          Copyright © 2019 
          %a{:href=>"https://sigma.la/"}Sigma Studios 

    %script{src: 'assets/js/jquery.min.js' }
    %script{:crossorigin => "anonymous", :integrity => "sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1", :src => "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM", :src => "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"}
    %script{src: 'assets/js/slick.min.js' }
    %script{src: 'assets/js/setting-slick.js' }
    %script{src: 'https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js' }
    %script{src: 'assets/js/main.js' }

