!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'UTF-8' }/
    %meta{ content: 'width=device-width, initial-scale=1.0', name:'viewport' }/
    %title Natalia
    %link{:crossorigin => "anonymous", :href => "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", :integrity => "sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", :rel => "stylesheet"}/
    %link{ rel: 'stylesheet', href:'assets/css/font-awesome.css' }/
    %link{ rel: 'stylesheet', href:'assets/css/font-awesome.css' }/
    %link{ rel: 'stylesheet', href:'assets/css/slick-theme.css' }/
    %link{ rel: 'stylesheet', href:'assets/css/slick.css' }/
    %link{ rel: 'stylesheet', href:'assets/css/main.css' }/
    %link{ href:'https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800|Roboto:400,500,700,900&display=swap',  rel:'stylesheet' }/
  %body
    %header.fixed-top.navbar-fixed-js
      .main-prenavbar
        .container
          .row
            .col-lg-6.d-flex.align-items-center
              .main-prenavbar__rrss.d-flex.align-items-center
                %img{:src=> 'assets/img/phone-receiver.png'}
                %a{:href=>""} (+57) 619 26 16 
                %p -
                %a{:href=>""} (+57) 215 45 23 

            .col-lg-6
              %ul.main-prenavbar__rrss.d-flex.align-items-center
                %li
                  %a{:href=>""}
                    %img{:src=> 'assets/img/social-linkedin-circular-button_4.png'}
                %li
                  %a{:href=>""}
                    %img{:src=> 'assets/img/facebook-logo-in-circular-button-outlined-social-symbol_2.png'}
                %li
                  %a{:href=>""}
                    %img{:src=> 'assets/img/social-linkedin-circular-button_5.png'}
                %li
                  %a{:href=>""}
                    %img{:src=> 'assets/img/social-linkedin-circular-button_6.png'}
                %li
                  .dropdown
                    %a#dropdownMenuLink.btn.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                      Español
                    .dropdown-menu{"aria-labelledby" => "dropdownMenuLink"}
                      %a.dropdown-item{:href => "#"} Inglés
                %li
                  %a{:href=>""}
                    %img{:src=> 'assets/img/shape.png'}                  
                %li
                  %a.main-prenavbar__button{:href=>""} CONTÁCTANOS
                    



      %nav.navbar.navbar-expand-lg
        .container
          .main-brand__top
            .main-brand
              %a.navbar-brand{ :href => '#' }
                %img#iso{ :src => 'assets/img/logo-natalia-godoy-consultores-organizacionales-fuente-ajustada.png' }/ 
          .main-brand__fixed
            .main-brand
              %a.navbar-brand{ :href => '#' }
                %img#iso{ :src => 'assets/img/logo-natalia-godoy-consultores-organizacionales-fuente-ajustada.png' }/ 
          .main-brand.brand-responsive
            %a.navbar-brand{ :href => '#' }
              %img#iso{ :src => 'assets/img/logo-natalia-godoy-consultores-organizacionales-fuente-ajustada.png' }/ 
            %button.navbar-toggler.p-2.border-0.hamburger.hamburger--elastic.ml-autos{ 'data-toggle' => 'offcanvas', :type => 'button' }
              %span.hamburger-box
              %span.hamburger-inner
          .navbar-collapse.offcanvas-collapse
            %ul.navbar-nav.mr-autos
              %li.nav-item
                %a.nav-link{ :href => '#certifications', :data-toggle => 'offcanvas' } Soluciones
              %li.nav-item
                %a.nav-link#clients{ :href => '#clients' } Desafíos
              %li.nav-item
                %a.nav-link{ :href => '#benefits' } Oportunidades laborales
              %li.nav-item
                %a.nav-link{:href => '#contact',:data-toggle => 'offcanvas' } Tendencias
              %li.nav-item
                %a.nav-link{:href => '#contact',:data-toggle => 'offcanvas' } Conócenos
    %section.main-banner
      .main-banner__content
        .main-banner__item
          .main-banner__text
            .main-banner__logo
              %img{ :src => 'assets/img/logo-natalia-godoy-consultores-organizacionales-fuente-ajustada.png' }/
            .main-banner__title
              %p Lorem Ipsum
            .main-banner__subtitle 
              %p  
                dolor sit amet consectetur, a
                dipiscing elit aptent.
          .main-banner__img
            %img{ :src => 'assets/img/image.png' }/
        .main-banner__item
          .main-banner__text
            %img{ :src => 'assets/img/logo-natalia-godoy-consultores-organizacionales-fuente-ajustada.png' }/
            .main-banner__title
              %p Lorem Ipsum
            .main-banner__subtitle 
              %p  
                dolor sit amet consectetur, a
                dipiscing elit aptent.
          .main-banner__img
            %img{ :src => 'assets/img/image.png' }/

    %section.main-cal
      .container
        .row
          .col-lg-3
            .main-cal__item
              %p.main-cal__title
                +40.000
              %p.main-cal__subtitle
                Personas impactadas en los últimos años con nuestros programas de atracción
          .col-lg-3
            .main-cal__item
              %img.main-cal__img{ :src => 'assets/img/user.png' }/
          .col-lg-3
            .main-cal__item
              %p.main-cal__title
                +800
              %p.main-cal__subtitle
                Personas han sido vinculadas con las mejores empresas. 
          .col-lg-3
            .main-cal__item
              %img.main-cal__img{ :src => 'assets/img/identification.png' }/
    %section.main-alliance
      .container.padding-top-bottom
        %h2.main-general__title
          Alianzas 
        %p.main-general__subtitle 
          LOREM IPSUM
        .main-alliance__description
          %p
            Lorem ipsum dolor sit amet consectetur, adipiscing elit habitasse euismod, nullam accumsan imperdiet viverra. Platea vivamus diam habitasse suscipit suspendisse purus non felis facilisis, volutpat consequat et neque nisl cum blandit eget feugiat, augue fermentum ut mi hendrerit rhoncus in sapien.
        .main-alliance__container 
          .main-alliance__item
            .main-alliance__img
              %img{ :src => 'assets/img/alianza-imagen-1.png' }/
            .main-alliance__details
              %a{:href=>''}
                %img.main-alliance__icon{ :src => 'assets/img/play-button-1-copy.png' }/
              %a.main-alliance__button{:href=>''}Ver Más
          .main-alliance__item
            .main-alliance__img
              %img{ :src => 'assets/img/captura-de-pantalla-2019-06-12-a-la-s-4-28-47-p-m.png' }/
            .main-alliance__details
              %a{:href=>''}
                %img.main-alliance__icon{ :src => 'assets/img/play-button-1-copy.png' }/
              %a.main-alliance__button{:href=>''}Ver Más
    %section.main-solutions
      .main-solutions__width
        .container.padding-top-bottom
          %h2.main-general__title
            Soluciones 
          %p.main-general__subtitle 
            LOREM IPSUM
          .row
            .col-lg-4.main-solutions__colum
              .main-solutions__item
                .main-solutions__icon
                  %img{:src=>"assets/img/icon_9.png"}/
                .main-solutions__text
                  %p
                    Gestión de talento - programas de jóvenes, practicantes, trainees.

            .col-lg-4.main-solutions__colum
              .main-solutions__item
                .main-solutions__icon
                  %img{:src=>"assets/img/icon_8.png"}/
                .main-solutions__text
                  %p
                    Identificación de talento.
            .col-lg-4.main-solutions__colum
              .main-solutions__item
                .main-solutions__icon
                  %img{:src=>"assets/img/icon_7.png"}/
                .main-solutions__text
                  %p
                    Mentoría empresarial desarrollo de habilidades en doble vía mentor y mente
                  %p.text-right.main-solutions__more 
                    +
            .col-lg-4.main-solutions__colum
              .main-solutions__item
                .main-solutions__icon
                  %img{:src=>"assets/img/icon_6.png"}/
                .main-solutions__text
                  %p
                    Acompañamiento de carrera en todas las fases y situaciones
            .col-lg-4.main-solutions__colum
              .main-solutions__item
                .main-solutions__icon
                  %img{:src=>"assets/img/icon_5.png"}/
                .main-solutions__text
                  %p
                    Desarrollo de personas para el logrode su máximo potencial
            .col-lg-4.main-solutions__colum
              .main-solutions__item
                .main-solutions__icon
                  %img{:src=>"assets/img/icon_4.png"}/
                .main-solutions__text
                  %p
                    Mapeos de perfil, habilidades y potencial.
            .col-lg-4.main-solutions__colum
              .main-solutions__item
                .main-solutions__icon
                  %img{:src=>"assets/img/icon_3.png"}/
                .main-solutions__text
                  %p
                    Gestión completa de programas de selección y desarrollo
            .col-lg-4.main-solutions__colum
              .main-solutions__item
                .main-solutions__icon
                  %img{:src=>"assets/img/icon_2.png"}/
                .main-solutions__text
                  %p
                    Posicionamiento de marca empleadora diagnósticos y estrategias.
            .col-lg-4.main-solutions__colum
              .main-solutions__item
                .main-solutions__icon
                  %img{:src=>"assets/img/icon.png"}/
                .main-solutions__text
                  %p
                    Investigaciones analisis y desarrollo de contenidos y tendencias
          .main-solutions__button
            %a{:href=>""} Ver Más
    %section.main-featured
      .container.padding-top-bottom
        %h2.main-general__title
          Tendencias 
        %p.main-general__subtitle 
          LOREM IPSUM
        .row
          .col-lg-4
            .main-featured__card
              .main-featured__bg
                %img{:src=>'assets/img/eugene-chystiakov-1381895-unsplash.png'}
                .main-featured__date 
                  %p 
                    19
                  %p 
                    Jul
              .main-featured__body
                %p.main-featured__title 
                  Lorem Ipsum
                %p.main-featured__description
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
          .col-lg-4
            .main-featured__card
              .main-featured__bg
                %img{:src=>'assets/img/eugene-chystiakov-1381895-unsplash.png'}
                .main-featured__date 
                  %p 
                    19
                  %p 
                    Jul
              .main-featured__body
                %p.main-featured__title 
                  Lorem Ipsum
                %p.main-featured__description
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
          .col-lg-4
            .main-featured__card
              .main-featured__bg
                %img{:src=>'assets/img/eugene-chystiakov-1381895-unsplash.png'}
                .main-featured__date 
                  %p 
                    19
                  %p 
                    Jul
              .main-featured__body
                %p.main-featured__title 
                  Lorem Ipsum
                %p.main-featured__description
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
    %section.main-contact
      .container.padding-top-bottom
        %h2.main-general__title
          Contáctanos
        %p.main-contact__text 
          Lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque cursus lobortis interdum, tincidunt proin dui lacinia eros dignissim sollicitudin cras nisi. 
        .main-contact__button 
          %a{:href=>""} Ver Más


        


    -# %footer.main-contact#contact 
    -#   .container.padding-top-bottom
    -#     %h2.main-general__title
    -#       Contáctanos
    -#     .main-footer__container
    -#       %form
    -#         %input{ :type=>'text', :placeholder=>'Nombre' }/
    -#         %input{ :type=>'mail', :placeholder=>'Correo Electrónico' }/
    -#         %input{ :type=>'number', :placeholder=>'Número telefónico' }/
    -#         %input{ :type=>'text', :placeholder=>'Asunto' }/
    -#         %textarea{ :placeholder=>'Mensaje' }
    -#         %a.main-general__button{ :href => '#' } Enviar
    -# .main-powered  
    -#   %p
    -#     Copyright ©2019 Todos los derechos reservados | Diseño y desarrollo por 
    -#     %a{ :href=>'https://cmarketing.cl/' } Contact Marketing
    %script{:crossorigin => "anonymous", :integrity => "sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", :src => "https://code.jquery.com/jquery-3.3.1.slim.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1", :src => "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM", :src => "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"}
    %script{src: 'assets/js/slick.min.js' }
    %script{src: 'assets/js/setting-slick.js' }
    %script{src: 'assets/js/main.js' }
